.doctor-detail-container {
    // height: 500px;

    .intro-doctor {
        display: flex;
        margin: 0 100px;

        .content-left {
            border-radius: 50%;
            width: 120px;
            height: 120px;
            margin: 10px 20px;
            border: 1px solid green;
        }

        .content-right {
            width: 80%;

            .up {
                font-size: 20px;
                font-weight: bold;
                padding-top: 15px;
            }
        }
    }

    .schedule-doctor {
        margin: 0 100px;
        display: flex;
        height: 200px;
        border: 1px solid red;

        .content-left {
            width: 60%;
        }

        .content-right {
            width: 40%;
        }
    }

    .detail-info-doctor {
        padding: 10px 100px 10px 120px;
        background-color: rgb(247, 246, 246);
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;

        h5 {
            font-size: 16px;
            margin: 15px 0;
        }
    }
}