.doctor-schedule-container {
    border-right: 1px solid green;
    height: 100%;

    .all-schedule {
        .all-schedule-content {
            color: #337ab7;
            font-weight: bold;
            padding: 5px 0;
            outline: none;
            border: none;
            border-bottom: 1px solid rgb(164, 150, 150);
            cursor: pointer;
        }
    }

    .all-availabel-schedule {
        .text-calendar {
            margin: 8px 0;
            font-size: 16px;
            color: #333;

            span {
                text-transform: uppercase;
                margin-left: 5px;
            }
        }

        .time-content {
            .time-content-btn {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
            }

            .book-free {
                margin-top: 5px;

                i {
                    color: rgb(9, 112, 215);
                    font-size: 16px;
                    margin: 0 5px;
                }
            }

            button {
                padding: 9px 10px;
                border: none;
                outline: none;
                background-color: rgb(252, 223, 78);
                border-radius: 4px;
                margin-bottom: 5px;
                font-weight: bold;

                &:hover {
                    outline: 2px solid #337ab7;
                }
            }

            .btn-vi {
                min-width: 120px;
            }

            .btn-en {
                min-width: 155px;
            }

            .no-schedule {
                font-size: 15px;
                font-style: italic;
            }
        }
    }
}